
h1,h2,h3,h4,h5,h6,p
 {
 color:#337ab7;
 font-family: ITC blair;
 }
 form
 {
  color:#337ab7;
 font-family: ITC blair;
 }
#header
 {
 color:#a77e22;
 }
.logo
 {
width: 900px;
height:500px;
 }
 .thead
 {
 color:red;
 font-weight: bold;
 }
 #viewT th tr td
 {
 width:100%;
 }
 #video
 {
 height:100px;
 width:100px;
 }